{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="container">
    <div class="row" >
        <form action="." method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th>Instruction</th>
          </tr>
          {% for entry in data.instructions %}
            <tr>
                <td>{{ entry }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
   
  </div>

  {{ data }}